:root {
  /* Fonts */
  --main-text: "Montserrat", sans-serif;
  --title-text: "Angkor", serif;

  /* Colors */
  --main-color: #b58661;
  --background-color-light: #f8f8f8;
  --background-color-dark: #000000;
  --text-color: #333;
  --footer-text-color: white;
  --footer-bg-image: url(/media/footer-img.jpeg);

  /* Borders and box model */
  --border: 1px solid #333;
  --min-padding: 10px;
  --max-padding: 40px;

  /* Margins and grid gap */
  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --grid-gap-sm: 10px;
  --grid-gap-md: 20px;

  /* Font sizes and weights */
  --font-size-title: 24px;
  --font-size-heading: 18px;
  --font-size-subheading: 13px;
  --font-weight-bold: 700;
  --font-weight-normal: 300;

  /* Filter */

  --img-filter: sepia(15%) grayscale(60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 0 var(--margin-md);
}

h1 {
  font-family: var(--title-text);
  text-transform: uppercase;
  font-size: 12vw;
  width: 60%;
  margin: 0px;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

section {
  margin-top: 40px;
}

a {
  color: #000000;
  text-decoration: none;
}

i {
  color: var(--main-color);
}
li {
  list-style: none;
}

/* Main section styles */
main h4,
main h5 {
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  margin-top: var(--margin-sm);
  text-transform: uppercase;
}

main h4 {
  font-size: var(--font-size-heading);
}

main h5 {
  font-size: var(--font-size-subheading);
}

figure {
  margin: 0 0 1rem;
}

footer {
  color: var(--footer-text-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://images.pexels.com/photos/813362/pexels-photo-813362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  bottom: 0;
  padding: var(--max-padding) 0;
}

footer h3 {
  font-size: var(--font-size-subheading);
  line-height: 30px;
  margin-bottom: var(--margin-md);
  font-family: var(--title-text);
}

footer p {
  font-weight: 200;
  line-height: 24px;
  font-family: var(--main-text);
}

footer li {
  list-style: none;
}

footer a {
  color: #fff;
}

/* ----------------------------------------------------------------NavBAr Section ----------------------------------------------------------*/
.logo {
  width: 100px;
  height: auto;
}

.nav-title {
  text-align: center;
  padding: var(--min-padding);
  border: var(--border);
  margin-top: var(--margin-xs);
}

.navbar {
  display: flex;
  border: var(--border);

  overflow: hidden;
}

.navbar-item {
  flex: 1;
  text-align: center;
  border-left: var(--border);
  cursor: pointer;
  padding: 10px;
}

.navbar-item:hover {
  background-color: var(--main-color);
}

.nav-title p {
  font-family: var(--title-text);
}
/*---------------------------------------------Hamburger Menu --------------------------------------*/
.hamburger-menu {
  display: none;
}

.hamburger-icon {
  cursor: pointer;
  padding: 10px;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu-column {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  z-index: 1001;
  overflow-y: auto;
}

.menu-items {
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.close-btn {
  cursor: pointer;
}

/* ----------------------------------------------------------------Header ----------------------------------------------------------*/
.heading-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.heading-title h3 {
  font-family: var(--main-text);
  font-weight: var(--font-weight-normal);
  width: 30%;
  margin: 0px;
  text-align: justify;
  font-size: var(--font-size-heading);
}

.img-title {
  max-width: 95%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/* ----------------------------------------------------------------First Section | Data Info----------------------------------------------------------*/
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap-md);
  background-color: #b1a69d;
}

.grid-wrapper:last-child {
  background-color: #f7f5f0;
}

.img-container,
.city-guide-text,
.text-container {
  text-align: center;
  padding: var(--max-padding);
}

.img-container {
  border-right: 1px solid black;
  -webkit-box-shadow: inset 0px 5px 10px 1px #000000;
  box-shadow: inset 0px 5px 10px 1px #000000;

  background-color: var(--background-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  width: 84%;
}

.img-container img:hover {
  filter: var(--img-filter);
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: var(--main-text);
  font-weight: var(--font-weight-normal);
  font-family: manrope, sans-serif;
}

.info-title {
  text-transform: uppercase;
}

.info-title p {
  opacity: 0.5;
  font-size: 26px;
  color: white;
  font-family: "Lobster Two", sans-serif;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.info-title h2 {
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}

.info-text-bold {
  font-family: var(--title-text);
  font-size: 30px;
}

.data-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}

.info-current-time,
.city-london {
  border: var(--border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: var(--min-padding);
  background-color: white;
}

.city-guide-text {
  border: 1px solid black;
  text-align: justify;
  line-height: 1.75;
  font-weight: 400;
  background-color: #fff;
  font-size: 18px;
}

.currency {
  text-align: center;
  background-color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: var(--font-size-subheading);
  font-weight: bold;
  height: 22px;
  padding-top: 2px;
}
/* ----------------------------------------------------------------Second Section | HOTELS ----------------------------------------------------------*/
.main-titles {
  font-size: 2.5vw;
  width: fit-content;
  margin-bottom: var(--margin-md);
  font-family: var(--title-text);
}

.hotels-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  height: auto;
}

.hotels-card-wrapper {
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--min-padding);
  text-align: center;
}

.hotels-card-wrapper p {
  font-family: var(--main-text);
}

.hotel-card {
  margin: var(--margin-md) auto;
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
}

.hotel-card-buttons-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-xs);
  margin: var(--margin-md) auto;
}

.btn-sm {
  font-size: 0.8rem;
  width: 120px;
  border: none;
  background-color: var(--main-color);
  height: 30px;
  color: var(--background-color-light);
  margin-bottom: 10px;
  opacity: 0.7;
}

.hotel-button {
  height: 45px;
  color: black;
  opacity: 1;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: block;
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subheading);
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.hotel-booking-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: var(--min-padding);
}

.price {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 20px 10px;
}

/* ----------------------------------------------------------------Restaurants Section ----------------------------------------------------------*/
.restaurants {
  padding: 25px 200px;
  background-color: var(--background-color-light);
  font-family: var(--main-text);
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: calc(100vw - 400px);
}

.card {
  background: white;
  margin: var(--margin-md) 0;
  border: 1px solid #b58661;
  width: 33.3%;
  flex-shrink: 0;
}
.card-body {
  padding: var(--margin-md);
}

.responsive-image {
  max-width: 100%;
  padding: var(--min-padding);
}

.card-footer {
  padding: 0 30px 30px;
}

.subtitles {
  opacity: 0.7;
  text-align: center;
}

.flex-container::-webkit-scrollbar {
  width: 10px;
}

.flex-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.flex-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

.flex-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* ----------------------------------------------------------------Attractions Section ----------------------------------------------------------*/
.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.attractions-header {
  font-size: var(--font-size-heading);
  font-family: var(--title-text);
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
  text-align: center;
}

.flex-container-attractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: var(--margin-sm);
}

.wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  &:focus {
    outline: 0;
  }
}

.attractions-card {
  background-image: white;
  width: 350px;
  display: inline-block;
  margin: auto;
  border-radius: 18px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card-embed-image {
  position: relative;
  height: 250px;
}

.event-type {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #ec9b3b;
}

.event-card-title {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.event-card-description {
  padding: 20px;
  margin-bottom: 10px;
  font-family: manrope, sans-serif;
}

.event-info-card {
  background: black;

  .one-third {
    border-right: 1px solid #bd7c2f;
  }
}

.event-info-card-text {
  color: white;
  font-weight: 700;
  border-top: 2px solid black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  .info-value {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .info-small-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.btn-attraction {
  background-color: var(--background-color-dark);
  color: white;
  opacity: 0.8;
}

.btn-attraction a {
  color: white;
  text-decoration: none;
}

.padding-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--max-padding);
}

.horizontal-image img {
  width: 100%;
  border: 2px solid black;
  margin-top: 2rem;
}

.grid-attractions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  height: 95%;
  background-color: black;
  border: 4px solid black;
  padding: var(--min-padding);
  border-radius: 8px;
}

.attraction-card {
  background-color: #f8f8f8;
  color: #070707;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attraction-card-heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.attraction-card-caption {
  font-size: 0.8rem;
  margin-bottom: 6px;
  font-family: manrope, sans-serif;
}

.attraction-card-btn {
  align-self: flex-end;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 4px;
}

/* ----------------------------Gallery ----------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  background-color: black;
}

.background-gallery {
  background-color: hsla(31.2, 10.72961373%, 45.68627451%, 1);
}
.gallery img {
  transition: all 150ms ease-in;
  filter: opacity(0.8);
  height: 100%;
  width: 100%;
}

.gallery img:hover {
  transform: scale(1.2);
  filter: opacity(1);
}

/*-----------------------------book-flightt-section-----------------------------*/
.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-flight-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.book-flight-text {
  padding-bottom: var(--max-padding);
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}

.highlight-text {
  color: #b58661;
  text-decoration: underline;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
}

.booking__container {
  border-radius: 2rem;
  border: 1px solid #f1f5f9;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__nav {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 5px;
}

.booking__nav span {
  flex: 1;
  padding: 1rem 2rem;
  font-weight: 500;
  color: var(--background-color-light);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.booking__nav span:nth-child(2) {
  color: var(--background-color-light);
  background-color: var(--primary-color);
}

.booking__container form {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  gap: 1rem;
  padding: 1rem;
}

.booking__container .input__content {
  width: 100%;
}

.booking__container .form__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.booking__container .form__group span {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: #dfdada;
  border-radius: 1rem;
}

.booking__container .input__group {
  width: 100%;
  position: relative;
}

.booking__container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}

.booking__container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

.booking__container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.booking__container .form__group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color);
}

.btn-flight {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.booking__container .btn-flight {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #dfdada;
}

.booking-result {
  margin-top: 10px;
  color: var(--main-color);
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
}

/*---------------------------Latest News --------------------------------*/
.grid-wrapper-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-wrapper-article a {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  text-decoration: none;
  padding: 1rem;
}

.grid-wrapper-article h5 {
  font-family: "Dawning of a New Day", cursive;
  font-size: 2rem;
  text-transform: lowercase;
}

.grid-article,
.grid-article-travel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.grid-article-travel {
  flex-direction: column;
  color: #444;
}

.grid-article-travel a {
  padding: 1rem 0;
  color: var(--main-color);
}

.latest {
  grid-column: span 2;
}

.grid-article img {
  max-width: 110px;
  height: auto;
}

.grid-article h4 {
  margin-top: 5px;
  font-size: 1rem;
}
/* --------------------------------- Footer ----------------------------------*/
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  padding: var(--max-padding);
}
footer a {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header h1 {
    font-size: 50px;
  }

  header h3 {
    width: 100%;
  }

  .img-title {
    height: 200px;
  }

  .heading-title h3 {
    width: 100%;
  }

  .heading-title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
  }

  .img-container {
    margin: 0 auto;
  }

  .img-container img {
    width: 95%;
  }

  .main-titles {
    font-size: 22px;
  }

  .hotels-grid-container {
    grid-template-columns: 1fr;
    margin: 5px auto;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .hotel-card-buttons-wrapper {
    margin-left: 5px;
    grid-gap: 15px;
  }

  .text-container {
    padding: 5px;
  }

  .restaurants {
    padding: 10px;
  }

  .flex-container {
    width: 100%;
    overflow-x: auto;
  }

  .card {
    width: 100%;
  }

  .flex-container-attractions {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
  }

  .embed {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .grid-attractions-wrapper {
    grid-gap: 1px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .padding-wrapper {
    padding: 0;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .menu-overlay.active {
    display: block;
  }

  .menu-column.active {
    display: block;
  }

  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-flight-text {
    font-size: 2rem;
  }

  .grid-wrapper-article {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 5px;
  }
}

@media only screen and (max-width: 932px) and (max-height: 430px) and (orientation: landscape) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .grid-wrapper,
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    width: 50%;
  }
  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }
}
