:root {
  /* Fonts */
  --main-text: "Montserrat", sans-serif;
  --title-text: "Angkor", serif;

  /* Colors */
  --main-color: #b58661;
  --background-color-light: #f8f8f8;
  --background-color-dark: #000000;
  --text-color: #333;
  --footer-text-color: white;
  --footer-bg-image: url("https://images.pexels.com/photos/813362/pexels-photo-813362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  /* Borders and box model */
  --border: 1px solid #333;
  --min-padding: 10px;
  --max-padding: 40px;

  /* Margins and grid gap */
  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --grid-gap-sm: 10px;
  --grid-gap-md: 20px;

  /* Font sizes and weights */
  --font-size-title: 24px;
  --font-size-heading: 18px;
  --font-size-subheading: 13px;
  --font-weight-bold: 700;
  --font-weight-normal: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 0 var(--margin-md);
}

h1 {
  font-family: var(--title-text);
  text-transform: uppercase;
  font-size: 12vw;
  width: 60%;
  margin: 0px;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

section {
  margin-top: 40px;
}

a {
  color: #000000;
}

i {
  color: var(--main-color);
}
li {
  list-style: none;
}

/* Main section styles */
main h4,
main h5 {
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  margin-top: var(--margin-sm);
  text-transform: uppercase;
}

main h4 {
  font-size: var(--font-size-heading);
}

main h5 {
  font-size: var(--font-size-subheading);
}

figure {
  margin: 0 0 1rem;
}

footer {
  color: var(--footer-text-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://images.pexels.com/photos/813362/pexels-photo-813362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  bottom: 0;
  padding: var(--max-padding) 0;
}

footer h3 {
  font-size: var(--font-size-subheading);
  line-height: 30px;
  margin-bottom: var(--margin-md);
  font-family: var(--title-text);
}

footer p {
  font-weight: 200;
  line-height: 24px;
  font-family: var(--main-text);
}

footer li {
  list-style: none;
}

footer a {
  color: #fff;
}

/* ----------------------------------------------------------------NavBAr Section ----------------------------------------------------------*/
.nav-title {
  text-align: center;
  padding: var(--min-padding);
  border: var(--border);
  margin-top: var(--margin-xs);
}

/* Basic styles for the navigation bar */
.navbar {
  display: flex;
  border: var(--border);
  overflow: hidden;
}

/* Styles for each navigation item */
.navbar-item {
  flex: 1;
  text-align: center;
  border-left: var(--border);
  cursor: pointer;
}

.navbar-item:hover {
  background-color: var(--main-color);
}

.nav-title p {
  font-family: var(--title-text);
}

/* ----------------------------------------------------------------Header ----------------------------------------------------------*/
.heading-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.heading-title h3 {
  font-family: var(--main-text);
  font-weight: var(--font-weight-normal);
  width: 30%;
  margin: 0px;
  text-align: justify;
  font-size: var(--font-size-heading);
}

.img-title {
  max-width: 95%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/* ----------------------------------------------------------------First Section | Data Info----------------------------------------------------------*/
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap-md);
}

.img-container,
.city-guide-text,
.text-container {
  text-align: center;
  padding: var(--max-padding);
}

.img-container {
  border-right: 1px solid black;
  -webkit-box-shadow: inset 0px 5px 10px 1px #000000;
  box-shadow: inset 0px 5px 10px 1px #000000;
  margin-left: var(--margin-sm);
  background-color: var(--background-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: var(--main-text);
  font-weight: var(--font-weight-normal);
}

.info-title {
  text-transform: uppercase;
}

.info-title p {
  opacity: 0.5;
  font-size: 18px;
  color: var(--main-color);
}

.info-title h2 {
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}

.info-text-bold {
  font-family: var(--title-text);
  font-size: 30px;
}

.data-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}

.info-current-time,
.city-london {
  border: var(--border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: var(--min-padding);
}

.city-guide-text {
  border: 1px solid black;
  text-align: justify;
  line-height: 1.75;
  font-weight: 400;
}

.currency {
  text-align: center;
  background-color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: var(--font-size-subheading);
  font-weight: bold;
  height: 22px;
  padding-top: 2px;
}
/* ----------------------------------------------------------------Second Section | HOTELS ----------------------------------------------------------*/
.main-titles {
  font-size: 2.5vw;
  width: fit-content;
  margin-bottom: var(--margin-md);
  font-family: var(--title-text);
}

.hotels-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  height: auto;
}

.hotels-card-wrapper {
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--min-padding);
  text-align: center;
}

.hotels-card-wrapper p {
  font-family: var(--main-text);
}

.hotel-card {
  margin: var(--margin-md) auto;
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
}

.hotel-card-buttons-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-xs);
  margin: var(--margin-md) auto;
}

.btn-sm {
  font-size: 0.8rem;
  width: 120px;
  border: none;
  background-color: var(--main-color);
  height: 30px;
  color: var(--background-color-light);
  margin-bottom: 10px;
  opacity: 0.7;
}

.hotel-button {
  height: 45px;
  color: black;
  opacity: 1;
}

.btn {
  display: block;
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subheading);
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.hotel-booking-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: var(--min-padding);
}

.price {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 20px 10px;
}

/* ----------------------------------------------------------------Restaurants Section ----------------------------------------------------------*/
.restaurants {
  padding: 25px 200px;
  background-color: var(--background-color-light);
  font-family: var(--main-text);
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: calc(100vw - 400px);
}

.card {
  background: white;
  margin: var(--margin-md) 0;
  border: 1px solid #b58661;
  width: 33.3%;
  flex-shrink: 0;
}
.card-body {
  padding: var(--margin-md);
}

.responsive-image {
  max-width: 100%;
  padding: var(--min-padding);
}

.card-footer {
  padding: 0 30px 30px;
}

.subtitles {
  opacity: 0.7;
  text-align: center;
}

.flex-container::-webkit-scrollbar {
  width: 10px;
}

.flex-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.flex-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

.flex-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* ----------------------------------------------------------------Attractions Section ----------------------------------------------------------*/
.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.attractions-header {
  font-size: var(--font-size-heading);
  font-family: var(--title-text);
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
  text-align: center;
}

.flex-container-attractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: var(--margin-sm);
}

.wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  &:focus {
    outline: 0;
  }
}

.attractions-card {
  background-image: white;
  width: 350px;
  display: inline-block;
  margin: auto;
  border-radius: 18px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card-embed-image {
  position: relative;
  height: 250px;
}

.event-type {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #ec9b3b;
}

.event-card-title {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.event-card-description {
  padding: 20px;
  margin-bottom: 10px;
  font-family: manrope, sans-serif;
}

.event-info-card {
  background: black;

  .one-third {
    border-right: 1px solid #bd7c2f;
  }
}

.event-info-card-text {
  color: white;
  font-weight: 700;
  border-top: 2px solid black;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  .info-value {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .info-small-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.btn-attraction {
  background-color: var(--background-color-dark);
  color: white;
  opacity: 0.8;
}

.btn-attraction a {
  color: white;
  text-decoration: none;
}

.padding-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--max-padding);
}

.horizontal-image img {
  width: 100%;
  margin-top: var(--margin-md);
  border: 2px solid black;
}

.grid-attractions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  height: 95%;
  background-color: black;
  border: 4px solid black;
  padding: var(--min-padding);
  border-radius: 8px;
}

.attraction-card {
  background-color: #f8f8f8;
  color: #070707;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attraction-card-heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.attraction-card-caption {
  font-size: 0.8rem;
  margin-bottom: 6px;
  font-family: manrope, sans-serif;
}

.attraction-card-btn {
  align-self: flex-end;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 4px;
}

/* ----------------------------Gallery ----------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 15px; /* Gap between grid items */
}

.gallery img {
  transition: all 150ms ease-in;
  filter: opacity(0.8);
  height: 100%;
  width: 100%;
}

.gallery img:hover {
  transform: scale(1.2);
  filter: opacity(1);
}
/* --------------------------------- Footer ----------------------------------*/
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  padding: var(--max-padding);
}

@media (max-width: 800px) {
  @media (max-width: 800px) {
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    /* Adjust header styles */
    header h1 {
      font-size: 50px;
    }

    header h3 {
      width: 100%;
    }

    /* Adjust image title height */
    .img-title {
      height: 200px;
    }

    /* Adjust heading title styles */
    .heading-title h3 {
      width: 100%;
    }

    .heading-title {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    /* Adjust grid layout */
    .grid-wrapper {
      grid-template-columns: 1fr;
    }

    /* Center history image */
    .img-container {
      margin: 0 auto;
    }

    /* Resize history image */
    .img-container img {
      width: 95%;
    }

    /* Adjust main titles font size */
    .main-titles {
      font-size: 22px;
    }

    /* Adjust hotels grid container layout */
    .hotels-grid-container {
      grid-template-columns: 1fr;
      margin: 5px auto;
    }

    /* Adjust footer grid layout */
    .footer-grid {
      grid-template-columns: 1fr;
    }

    /* Adjust hotel card buttons wrapper */
    .hotel-card-buttons-wrapper {
      margin-left: 5px;
      grid-gap: 15px;
    }

    /* Adjust text container padding */
    .text-container {
      padding: 5px;
    }

    /* Reset padding for restaurants */
    .restaurants {
      padding: 10px;
    }

    /* Adjust flex container styles */
    .flex-container {
      width: 100%;
      overflow-x: auto; /* or overflow-x: hidden; based on your preference */
      flex-wrap: nowrap;
    }

    /* Adjust card width */
    .card {
      width: 100%;
    }

    /* Adjust attractions grid layout */
    .flex-container-attractions {
      display: flex;
      flex-wrap: wrap;
    }

    /* Adjust grid 2 columns layout */
    .grid-2-columns {
      grid-template-columns: 1fr;
      padding: 0;
      margin: 0 auto;
    }

    .embed {
      width: 100%;
      aspect-ratio: 16 / 9;
    }

    /* Adjust grid attractions wrapper */
    .grid-attractions-wrapper {
      grid-gap: 1px;
      border: 1px solid black;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    /* Reset padding for padding wrapper */
    .padding-wrapper {
      padding: 0;
    }

    .wrapper {
      grid-template-columns: 1fr;
    }
  }
}
